:root {
    --primary-color: #242331;  
    --secondary-color: #81E114;
    --accent-color: #053B06;    
    --text-color: #0A0B0A;       
    --background-color: #FFFFFF; 
    --font-family1: "Space Grotesk", serif;
    --font-family2: "Afacad Flux", sans-serif
}

.main-nav {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: var(--primary-color);
    padding: 30px;
    border-top: solid 20px var(--background-color);
    border-bottom: solid 20px var(--background-color);
    border-left: solid 20px var(--background-color);
}

.main-nav img {
    margin-right: 20%;
    margin-left: 10%;
    width: 150px;
}

.main-nav a {
    margin: 0 60px;
    color: var(--background-color);
    text-decoration: none;
    font-size: 20px;
    font-family: var(--font-family1);
}



.hero {
    position: relative; 
}
.hero img {
    width: 100%; /* make the image full-width */
    height: 100vh; /* make the image full-height */
    object-fit: cover; /* ensure the image covers the entire container */
    padding: 10px;
}

.hero h1 {
    position: absolute; /* posición absoluta */
    top: 10%; /* posición vertical */
    left: 50%; /* posición horizontal */
    transform: translate(-50%, -50%); /* ajustar posición horizontal y vertical */
    z-index: 2; /* asegurarse de que esté encima del .mission-block */
    text-align: center; /* centrar el texto */
    color: var(--background-color); /* color del texto */
    font-size: 4em; /* tamaño del texto */
    font-family: var(--font-family1);
}

.mission-block {
    background-color: rgba(255, 255, 255, 0.8); /* fondo transparente */
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 90%; /* ancho horizontal reducido */
    margin: 0 auto; /* centrar horizontalmente */
    border-radius: 10px; /* borde redondeado */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* sombra */
    position: absolute; /* posición absoluta */
    top: 30%; /* posición vertical */
    left: 50%; /* posición horizontal */
    transform: translate(-50%, 0); /* ajustar posición horizontal */
}

.mission-text {
    flex-basis: 60%; /* adjust this value to change the width of the text column */
    margin-right: 10px;/* add some margin between the text and image */
    font-size: 25px; 
    color: var(--primary-color);
    font-family: var(--font-family2);
}

.mission-block img {
    width: 30%; /* ancho de la imagen */
    height: auto; /* altura automática */
    margin: 20px; /* margen entre la imagen y el texto */
    border-radius: 10px; /* borde redondeado */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* sombra */
}
/* Global styles */
body {
    color: var(--text-color);
    max-width: 100%; /* Limit width of the page */
    margin:  auto;
    padding: 0 30px;
    display: inline-block;
}

/* Headings styling */
h2, h3{
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-family: var(--font-family1);
}
.history-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.history-text {
    flex-basis: 30%; /* adjust this value to change the width of the text columns */
    margin: 20px; /* add some margin between the text and image */
    font-size: 22px;
    font-family: var(--font-family2);
}

.history-wrap img {
    width: 30%; /* adjust this value to change the width of the image */
    margin: 20px; /* add some margin between the image and text */
}
.image-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.image-block img {
    width: 18%; /* adjust this value to change the width of each image */
    margin: 13px; /* add some margin between images */
}

footer {
    color: var(--background-color);
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    padding: 20px;
    border-top: solid 20px #FFFFFF;
    border-bottom: solid 20px #FFFFFF;
    font-family: var(--font-family2)
}
/* Social media links */
.sociallinks-container {
    margin-left: auto;
}

.sociallinks {
    display: flex;
    justify-items: end;
}